@{
    ViewData["Title"] = "Competition";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active">Competition</li>
    </ol>
</nav>

<div class="col-md-8">
    <h1 class="display-4">Design Competition</h1>

    <p>
        Are your design skills up to par? Do you have any inspiration on how to improve this monstrosity of a website?
    </p>
    <p>
        With the release of the new Toetscie website, replacing the very outdated version dating from 2007(!), we are still looking for a nice design. This is where you come in: we have opened up a design competition for the new website, where any FMF member can participate!
    </p>
    <h4>What we need from you</h4>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">A full design for the three different page types on the website: degree list, course list (for a specific degree), and the files list (for a specific course).</li>
        <li class="list-group-item">The design should have a shared 'layout' between the different pages.</li>
        <li class="list-group-item">The files page should include all student course notes, exams, and solutions.</li>
        <li class="list-group-item">For an exam, it needs to be visible when the exam took place (if known) and which teacher made the exam (if known). Any associated solutions should be clearly linked - sometimes these are the same file.</li>
        <li class="list-group-item">For a solutions file without associated exam, the date (if known) should be shown.</li>
        <li class="list-group-item">For a student notes file, the author (if known) and the year (if known) should be shown.</li>
        <li class="list-group-item">You are free to change any static texts or descriptions on the pages, but changes in file details might not always be possible.</li>
    </ul>
    <h4>How we need it</h4>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">The design should be delivered through images (png files) of each page. We would very much appreciate to also receive any source files (such as HTML, CSS, Illustrator, Photoshop) if you have those, but this is not required.</li>
        <li class="list-group-item">The design should be submitted to <a href="mailto:comcie@fmf.nl">comcie@fmf.nl</a> <b>before May 1st</b>! There will be a voting round for the best design during the FMF May Month!</li>
        <li class="list-group-item">By submitting any designs, you agree that the FMF is free to use and adapt your design or any parts of it.</li>
    </ul>
    <h4>Prize</h4>
    <p>
        Of course, any competition is incomplete without a prize for the winner! After the submission deadline, there will be a voting round during the FMF May Month. The winner of this voting round will be awarded <i>The Great Toetscie Design Prize</i>, the exact details of which are yet to be determined.
    </p>
</div>
